@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

.card-img-top {
    width: 200px;
    float: left;
}

.card-body {
    height: 315px;
    margin-bottom: 2em;
    flex: 0 1 24%;
}

.card-deck-wrapper {
    display: grid;
}

/* .card-title {
    font-family: 'Bangers','Arial','Sans-Serif'
} */

.card-content {
    font-family: 'comic', 'arial', 'sans-serif'
}