@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

h4 {
    color: white;
    font-family: 'oswald', 'arial';
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
 }

.condition-label {
    color: white;
    font-family: 'oswald', 'arial';
    margin: auto;
    text-align: center;
}

.issue-detail-form {
    margin: auto;
}

.save-edit {
    margin-left: 39.5%;
    width: 300px;
    font-family: 'Oswald', 'arial', 'sans-serif';
    font-size: 18pt;
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 2px;
    border-width: 2px;
}

button:hover {
    opacity: 1;
    color: black;
}

.form-heading {
    font-family: 'oswald', 'arial', 'sans-serif';
    color: white;
    margin: auto;
    font-size: 24pt;
    text-align: center;
    padding-top:75px;
    padding-bottom: 25px;
}

.issue-detail-form {
    margin: auto;
    margin-top: 80px;
}

.stars {
    font-size: 30px;
    margin: auto;
    text-align: center;
}

.dropdown {
    font-family: 'oswald', 'arial', 'sans-serif';
    font-size: 14pt;
    margin: auto;
    margin-left: 43.5%;
    width: 200px;
    padding-top: 20px;
}

.save-edits-btn {
    padding-top: 20px;
}

.condition-label {
    padding-bottom: 20px;
}