@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');


 .detail-card-img {
    height: 400px;
    width: 275px;
    margin-top: auto;
    margin-left: 300px;
    margin-right: 25px;
    float: left;
}

.detail-container {
    color: white;
    margin-left: 50px;
    margin-top: 150px;
} 

.p-description {
    font-family: 'oswald', 'arial', 'sans-serif';
    width: 800px;
    margin-left: 100px;
    margin-bottom: 0px;
}

.p-condition {
   margin: 5px;
} 

.p-rating {
    margin: 5px;
}

.detail-title {
    font-family: 'bangers','oswald','arial';
    margin-top: 100px;
    margin-left: auto;
}

.btn-grp {
    margin-top: 20px;
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 2px;
    border-width: 2px;
    font-family: 'oswald', 'arial', 'sans-serif';
}

.btn-grp:hover {
    opacity: 1;
}

.add-detail-btn {
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 2px;
    border-width: 2px;
    font-family: 'oswald', 'arial', 'sans-serif';
}

.edit-detail-btn {
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 2px;
    border-width: 2px;
    font-family: 'oswald', 'arial', 'sans-serif';
}

.star-rating {
    font-size: 20pt;
    margin-top: 10px;
}