@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

button {
    margin: 3px;
    width: 230px;
    font-family: 'Oswald', 'arial', 'sans-serif';
    font-size: 12pt;
    opacity: 0.6;
    transition: 0.3s;
    /* background-color: black;
    color: white; */
    border-radius: 2px;
    border-width: 2px;
   
}

button:hover {
    opacity: 1;
}