@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');


.card-img {
    height: 330px;
    width: 250px;
}

.card {
    width: 600px;
}
